<nav class="navbar">
  <div class="navbar-brand">
    <span class="brand-name">Buscar</span>
    <span class="brand-subname" routerLink="publicarCasa">Alquilar</span>
  </div>
  
  <div class="navbar-center">
    <a routerLink="/principal/dashboard">
      <img src="assets/navbar/LogoN.png">
    </a>
  </div>
  
  <div class="navbar-actions">
    <a class="qn-somos" routerLink="/principal/qnSomos">¿Quienes somos?</a>
    <a class="login-button" routerLink="/register">Registrarse</a>
    <a class="login-button" routerLink="/login">Iniciar Sesión</a>
    <a routerLink="/principal/perfil">
      <img class="icono-usuario" src="assets/navbar/usuario.png">
    </a>
  </div>
</nav>

<router-outlet></router-outlet>