<!-- perfil.component.html -->
<div class="profile-container">
  <div class="profile-header">
    <h1>Nestly (foto)</h1>
    
    <div class="photo-upload-section">
      <h2>Subir foto</h2>
      <p class="username">Nombre de Usuario</p>
    </div>
    
    <div class="social-connections">
      <ul class="action-list">
        <li>Agregar Facebook</li>
        <li>Agregar Instragram</li>
        <li>Agregar Twitter</li>
      </ul>
      
    </div>
  </div>
  
  <div class="divider"></div>
  
  <div class="property-section">
    <h2>HISTORIAL DE CASA</h2>
  
    <div class="price-section">
      
    </div>
  </div>
  
  <div class="profile-actions">
    <h3>Perfil</h3>
    <ul class="action-list">
      <li>Editar perfil</li>
      <li>Configuración</li>
      <li>Cerrar sesión</li>
    </ul>
  </div>
</div>