<div class="background background bg-gray-50 dark:bg-gray-800">
<div class="search-filters-bar background bg-gray-50 dark:bg-gray-800">
  <input type="text" placeholder="Ubicación: Las Picachas">
  <input type="text" placeholder="Fecha: 11 Sep"> <select>
    <option disabled selected>Baños</option>
    </select>
  <select>
    <option disabled selected>Habitaciones</option>
    </select>
  <select>
    <option disabled selected>Tipo</option>
    </select>
  <button class="buscar-btn">Buscar</button>
</div>
</div>