<div>
  <h4>Filtrar tus resultados</h4>
  <input type="text" placeholder="Nombre de la casa, apartamento">

  <div class="accordion-item">
    <button class="accordion-header">Precio Total</button>
    <div class="accordion-content">
      <p>Opciones de precio aquí...</p>
    </div>
  </div>

  <div class="accordion-item">
    <button class="accordion-header">Calificaciones</button>
    <div class="accordion-content">
      <ul>
        <li><label><input type="checkbox"> 1 Estrella</label></li>
        <li><label><input type="checkbox" checked> 3 Estrellas</label></li>
        <li><label><input type="checkbox" checked> 4 Estrellas</label></li>
        </ul>
    </div>
  </div>
</div>