<div>
  <div class="results-header">
    <!-- <p>{{ listings.length }} alojamientos disponibles desde ${{ minPrice }}</p> -->
    <div>
      <span class="active-filter">3 estrellas <button>x</button></span>
      <span class="active-filter">4 estrellas <button>x</button></span>
    </div>
  </div>

  <div class="sort-and-map">
    <select>
      <option>Ordenar por: Relevancia</option>
      </select>
    <button class="map-icon-button">
      🗺️
    </button>
  </div>

  <div class="listings-grid">
    </div>
</div>