<!-- <div class="login-container">
    <h1 class="logo">Nestly</h1>
    
    <h2 class="login-title">LOGIN</h2>
    
    <form class="login-form">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Ingresa tu correo electrónico">
      </div>
      
      <div class="form-group">
        <label for="confirm-email">Confirmación de E-mail</label>
        <input type="email" id="confirm-email" placeholder="Confirma tu correo electrónico">
      </div>
      
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" placeholder="Ingresa tu contraseña">
      </div>
      
      <button type="submit" class="login-button">Login</button>
      
      <div class="form-options">
        <label class="remember-me">
          <input type="checkbox"> Recordarme
        </label>
        
        <div class="links">
          <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
          <a routerLink="/registro" class="register">Registrarse</a>
        </div>
      </div>
    </form>
  </div> -->


  <br>
<div class="row">
    <div class="dentro">
        <div class="col">
        <form [formGroup]="LoginFormulario" (ngSubmit)="onLoggedin()">

            <div >
                <label for="email" class="col-form-label">
                    <ng-container *ngIf="isValid('email')">
                        <span class="text-danger">*</span>
                    </ng-container>
                    
                </label>
                <div>
                    <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': isValid('email')}">
                    <div *ngIf="f['email'].errors && f['email'].touched" class="form-text text-danger">
                        <div *ngIf="f['email']?.errors?.['required'] || f['email']?.errors?.['email']">El email debe electrónico ser válido</div>
                    </div>
                </div>
            </div>

            <div >
                <label for="password" class="col-form-label">
                    <ng-container *ngIf="isValid('password')">
                        <span class="text-danger">*</span>
                    </ng-container>
                    
                </label>
                <div>
                    <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': isValid('password')}">
                    <div *ngIf="f['password'].errors && f['password'].touched" class="form-text text-danger">
                        <div *ngIf="f['password']?.errors?.['required']">La contraseña es obligatoria</div>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit" >Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>
</div>