<div class="containerPrincipal">
  <div class="containerIzquierda">
    <div class="back" routerLink="/principal/dashboard">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </div>
    <div class="containerLogo">
      <img src="assets/navbar/LogoN.png" alt="Logo" class="logo" />
    </div>
    <div class="containerPerfil">
      <div class="perfilHeader">
        <h2 class="perfilh2">Perfil</h2>
      </div>

      <div class="perfilFoto">
        <div class="userSvg">
          <img src="assets/navbar/usuario.png" alt="Usuario" class="userLogo" />
        </div>

        <button class="btnSubirFoto">Subir foto</button>
      </div>

      <div class="perfilNombre">
        <input
          type="text"
          placeholder="Nombre de Usuario"
          class="inputNombre"
        />
      </div>

      <div class="perfilRedes">
        <button class="btnRedSocial">Agregar Facebook</button>
        <button class="btnRedSocial">Agregar Instagram</button>
        <button class="btnRedSocial">Agregar Twitter</button>
      </div>
    </div>
  </div>
  
  
  <div class="containerCentro">
    <div class="config-content">
      <h1 class="config-title">Configuración</h1>
      <div class="config-menu">
        <div class="config-item"><span class="config-icon">🔔</span><span>Notificaciones</span></div>
        <div class="config-item"><span class="config-icon">🔒</span><span>Cambiar contraseña</span></div>
        <div class="config-item"><span class="config-icon">🌐</span><span>Idioma</span></div>
        <div class="config-item"><span class="config-icon">🌙</span><span>Modo oscuro</span></div>
        <div class="config-item"><span class="config-icon">💳</span><span>Añadir tarjeta</span></div>
        <div class="config-item logout"><span class="config-icon">🚪</span><span>Cerrar Sesión</span></div>
      </div>
    </div>
  </div>
  
  
  <div class="containerDerecha">
    <div class="menuLateral">
      <div class="menuItem" routerLink="/principal/perfil">
        <span routerLink="/principal/perfil">Perfil</span>
      </div>
      <div class="menuItem" routerLink="/principal/editarPerfil">
        <span>Editar perfil</span>
      </div>
      
      <div class="menuItem activo">
        <span>Configuration</span>
      </div>
      <div class="menuItem cerrarSesion" (click)="logout()">
        <span>Cerrar sesión</span>
      </div>
    </div>
  </div>
  </div>

