/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply transition-colors duration-200;
}

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 font-sans antialiased;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
}
