<div class="contenedor">
<div class="property-card">

    <div class="gallery-container">
        <h1 class="property-title">Exclusiva casa punta Los Picachos</h1>
        <br>
        <div class="main-image">
          <img src="https://th.bing.com/th/id/R.f8bdf91c742215ff9a33d562c89101fc?rik=n%2fUT3%2beY%2fAlH3Q&pid=ImgRaw&r=0" alt="Vista principal">
        </div>
        <div class="secondary-images">
          <img src="https://th.bing.com/th/id/R.f8bdf91c742215ff9a33d562c89101fc?rik=n%2fUT3%2beY%2fAlH3Q&pid=ImgRaw&r=0" alt="Vista 1">
          <img src="https://th.bing.com/th/id/R.f8bdf91c742215ff9a33d562c89101fc?rik=n%2fUT3%2beY%2fAlH3Q&pid=ImgRaw&r=0" alt="Vista 2">
          <img src="https://th.bing.com/th/id/R.f8bdf91c742215ff9a33d562c89101fc?rik=n%2fUT3%2beY%2fAlH3Q&pid=ImgRaw&r=0" alt="Vista 3">
          <img class="img-noGap" src="https://th.bing.com/th/id/R.f8bdf91c742215ff9a33d562c89101fc?rik=n%2fUT3%2beY%2fAlH3Q&pid=ImgRaw&r=0" alt="Vista 4">
        </div>
      </div>





<br>



   <div class="info-container">

 
<div class="info-casa">
    
    <p class="property-subtitle">Amplia casa amueblada, servicos incluidos en San Miguel de Allende, Guanajuato</p>

    <div class="property-details">3 Habitaciones · 4 Camas · 3 Baños</div>
    
    <div class="property-owner"><strong>Propietaria:</strong> Juan David Tapia Frías</div>
    <div class="property-experience">5 años de experiencia</div>
    
    <div class="divider"></div>
    
    <div class="property-rating">
      <span class="rating-value">4.5     </span>|<span class="review-count">      16</span>
      <span class="rating-label">Evaluaciones</span>
    </div>

    <div class="divider"></div>
    
    <ul class="property-features">
      <li>Cuento con clima</li>
      <li>A 10 minutos de zona centro</li>
      <li>Cochera para dos autos</li>
    </ul>


</div>







    <div class="info-precio">


    <div class="property-pricing">
      <div class="price-container">
        <span class="original-price">$27,000</span>
        <span class="current-price">$24,000</span>
        <span class="price-period">Mes</span>
      </div>
      
      <ul class="price-terms">
        <li>Contrato mínimo por 12 meses</li>
        <li class="li-price">$288,000 MXN</li>
        <li>Tarifa de servicio de Nestly</li>
        <li class="li-price">$5,000 MXN</li>
      </ul>

      <div class="divider"></div>
      
      <div class="price-total">
        <div>Total antes de impuestos</div>
        <div>$293,000 MXN</div>
      </div>
    </div>
    
   
    
    <button class="rent-button">Rentar</button>

</div>

</div> 





    
  </div>
</div>